<div id="body">
  <div *ngIf="getUser() | async as user; else showLogin">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span class="example-spacer">Olá {{ user.displayName }}, onde vamos comer hoje?</span>
        <mat-icon (click)="logout()">exit_to_app</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
    <br />
    <router-outlet></router-outlet>
  </div>
  <ng-template #showLogin>
    <p>Please login.</p>
    <button (click)="login()">Login with Google</button>
  </ng-template>
</div>
