#body {
  position: relative;
  width: 100%;
  max-width: 820px;
  box-sizing: border-box;
  margin: 0 auto;
  box-sizing: border-box;

  .example-spacer {
    max-width: calc(100% - 35px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .mat-icon {
    cursor: pointer;
    margin: 0 5px;
    position: relative;
    bottom: 3px;
  }

  .mat-toolbar {
    width: 100%;

    .mat-toolbar-row {
      display: flex;

      .mat-icon {
        text-align: right;
        flex: 1;
      }
      .mat-icon:first-child{
        text-align: left;
      }

      span {
        flex: auto;
      }
    }
  }
}
