<div id="body">
  <div *ngIf="getUser() | async as user; else showLogin">
    <mat-toolbar color="accent" class="mat-elevation-z8">
      <mat-toolbar-row>
        <mat-icon routerLink="/">home</mat-icon>
        <span class="example-spacer">Olá {{ user.displayName }}, onde vamos comer hoje?</span>
        <mat-icon (click)="logout()">exit_to_app</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
    <br />
    <router-outlet></router-outlet>
  </div>
  <ng-template #showLogin>
    <br />
    <mat-card class="mat-elevation-z8">
      <p>Please login.</p>
      <button mat-raised-button color="primary" (click)="login()">Login with Google</button>
    </mat-card>
  </ng-template>
</div>
