<div id="spinner">
  <mat-card class="mat-elevation-z8">
    <mat-card-title color="accent">
      <h1>Spin The Roulette</h1>
    </mat-card-title>
    <mat-card-content class="cols">
      <input #url
        class="url"
        matInput
        placeholder="URL do GIF">
      <input #day
        matInput
        placeholder="Dia">
      <button mat-raised-button
        color="primary"
        (click)="spin(url.value, day.value)">
        Rolar a Roleta
      </button>
    </mat-card-content>
    <mat-card-title color="accent">
      <h1>Achievements</h1>
    </mat-card-title>
    <mat-card-content class="cols">
      <input class="email"
        #email
        matInput
        [matAutocomplete]="auto"
        placeholder="Roleteiro"
        (keydown)="changeEmail(email.value, $event)">

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filtered"
          (onSelectionChange)="selectRouletter(option)"
          [value]="option.email">{{option.email}}</mat-option>
      </mat-autocomplete>

      <input class="email"
        #achievement
        matInput
        placeholder="Achievement"
        [matAutocomplete]="achieve"
        (keydown)="changeAchievements(achievements.value, $event)">

      <mat-autocomplete #achieve="matAutocomplete"
        [displayWith]="display">
        <mat-option *ngFor="let option of filteredAchieves"
          (onSelectionChange)="selectAchievement(option)"
          [value]="option"
          [innerHtml]="option.name + ':&nbsp;<small>' + option.description + '</small>'"></mat-option>
      </mat-autocomplete>
      <button mat-raised-button
        color="primary"
        (click)="grantAchievement(email.value, achievement.value)">
        Conceder Achievement
      </button>
    </mat-card-content>
    <mat-card-content>
      <mat-chip-list>
        <mat-chip color="accent"
          selected
          *ngFor="let achiev of achievsOfRouletter">{{achiev['name']}}</mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-card *ngIf="winner"
    class="mat-elevation-z8">
    <mat-card-title color="accent">
      E o vencedor é:
      <h1>{{winner}}</h1>
      Bom apetite a todos!<br />
      <img [src]="gif"
        style="width:100%" />
    </mat-card-title>
  </mat-card>
</div>