<div id="achievements">
  <mat-card class="mat-elevation-z8">
    <h1 class="center">Achievements</h1>
    <mat-toolbar color="accent" class="mat-elevation-z8" class="cols">
      <span>Achievements de:</span>
      <mat-select
        placeholder="Rouletter"
        (selectionChange)="changeRouletter($event)"
        [value]="current"
      >
        <mat-option *ngFor="let rouletter of rouletters" [value]="rouletter">
          {{ rouletter }}
        </mat-option>
      </mat-select>
    </mat-toolbar>
    <br />
    <br />
    <mat-card-title color="accent">
      <div class="cols">
        <mat-card
          *ngFor="let achievement of aux"
          class="mat-elevation-z4"
          [ngClass]="{ achieved: achievents.includes(achievement.id) }"
        >
          <img
            mat-card-image
            [ngClass]="{ grayscale: !achievents.includes(achievement.id) }"
            [src]="achievement.img"
          />
          <mat-card-title>{{ achievement.name }}</mat-card-title>
          <mat-card-content>{{ achievement.description }}</mat-card-content>
        </mat-card>
      </div>
    </mat-card-title>
  </mat-card>
</div>
