<div id="monitor">
  <mat-card *ngIf="winner" class="mat-elevation-z8">
    <mat-card-title color="accent">
      E o vencedor é:
      <h1>{{winner}}</h1>
      Bom apetite a todos!<br />
      Parabéns para {{voters}} que acreditaram e votaram neste restaurante!
      <img [src]="gif" style="width:100%" />
    </mat-card-title>
  </mat-card>
  <div *ngIf="!winner" #roulette (click)="spin()" class="roulette {{isSpinning ? 'spin' : ''}}">
    <ngx-charts-pie-chart [results]="data" [legend]="false" [labels]="false" [view]="view" [scheme]="colors">
    </ngx-charts-pie-chart>
    <br style="clear:both"/>
  </div>
  <br />
  <mat-card class="mat-elevation-z8">
    <mat-card-title>{{service.getHumanDate()}}</mat-card-title>
    <mat-card-content>
      Acompanhe abaixo os resultados ao vivo:
      <mat-list>
        <mat-list-item *ngFor="let res of service.currentStars, index as i">
          <div class="square" [ngStyle]="{'background-color': colors.domain[i]}">&nbsp;</div><b>{{res.restaurant}}:</b>&nbsp;
          {{res.stars}}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
