#monitor {
  padding: 20px;

  .roulette {
    position: relative;
    width: calc(100vw - 40px);
    max-width: 800px;
    clear: both;
  }

  .ngx-charts {
    float: none !important;
    overflow: visible;
  }
}
