<div id="monitor">
  <mat-card *ngIf="winner">
    E o vencedor é:
    <h1>{{winner}}</h1>
    Bom apetite a todos!<br />
    <img src="https://media.giphy.com/media/SasDDqOSRclNu/giphy.gif" style="width:100%" />
  </mat-card>
  <div *ngIf="!winner" #roulette (click)="spin()" class="roulette {{isSpinning ? 'spin' : ''}}">
    <ngx-charts-pie-chart [results]="data" [legend]="false" [labels]="false" [view]="view" [scheme]="colors">
    </ngx-charts-pie-chart>
    <br style="clear:both"/>
  </div>
  <br />
  <mat-card>
    <mat-card-title>{{service.getHumanDate()}}</mat-card-title>
    <mat-card-content>
      Acompanhe abaixo os resultados ao vivo:
      <mat-list>
        <mat-list-item *ngFor="let res of service.currentStars, index as i">
          <div class="square" [ngStyle]="{'background-color': colors.domain[i]}">&nbsp;</div><b>{{res.restaurant}}:</b>&nbsp;
          {{res.stars}}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
