<div id="monitor">
  <div #roulette class="roulette" (window:resize)="onResize($event)">
    <ngx-charts-pie-chart [results]="data" [legend]="false" [labels]="false" [view]="view">
    </ngx-charts-pie-chart>
    <br style="clear:both"/>
  </div>
  <br />
  <mat-card>
    Acompanhe abaixo os resultados ao vivo:
    <mat-list>
      <mat-list-item *ngFor="let res of service.currentStars">
        <b>{{res.restaurant}}:</b>&nbsp;
        {{res.stars}}
      </mat-list-item>
    </mat-list>
  </mat-card>

</div>
